<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Symfony Messenger Bundle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
</phpunit>
